assertpy
black
bump2version
codecov
coverage
flake8
flake8-annotations
flake8-bandit
flake8-black
flake8-bugbear
flake8-docstrings
flake8-import-order
pip
pytest
pytest-cov
pytest-mock
pytest-mypy
pytest-mypy
pytest-recording
safety
Sphinx
sphinx-autodoc-typehints
tox
twine
types-python-dateutil
types-PyYAML
types-requests
types-simplejson
watchdog
wheel
